<?xml version="1.0"?>
<config>
    <global>
        <blocks>
            <DEG_Carriers>
                <class>DEG_Carriers_Block</class>
            </DEG_Carriers>
            <DEG_Carriers_Adminhtml>
                <class>DEG_Carriers_Block_Adminhtml</class>
            </DEG_Carriers_Adminhtml>
        </blocks>
        <helpers>
            <DEG_Carriers>
                <class>DEG_Carriers_Helper</class>
            </DEG_Carriers>
        </helpers>
        <models>
            <DEG_Carriers>
                <class>DEG_Carriers_Model</class>
                <resourceModel>DEG_Carriers_Model_Resource</resourceModel>
            </DEG_Carriers>
            <DEG_Carriers_Model_Resource>
                <class>DEG_Carriers_Model_Resource</class>
            </DEG_Carriers_Model_Resource>
        </models>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <DEG_Carriers after="Mage_Adminhtml">DEG_Carriers_Adminhtml</DEG_Carriers>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <DEG_Carriers>
                    <file>deg/carriers.xml</file>
                </DEG_Carriers>
            </updates>
        </layout>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <DEG_Carriers/>
            </modules>
        </suite>
    </phpunit>
</config>